<h1>TOP page</h1>
<%= @post %>
hello world

/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSSここまで */

/* 以下からCSSを記述すること */

.contents{
  height;100vh
  
}